#image-container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

img {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
}

.img1 { background-color: red; }
.img2 { background-color: blue; }
.img3 { background-color: green; }
.img4 { background-color: yellow; }
.img5 { background-color: purple; }